
.pageContent {
    position: absolute;
    margin: 0px auto;
    left: 0.5%;
    top: auto;
    margin-top: 50px;
    width: 99%;

}

#title {
    font-size: 40px;
    color: #3E5622;
    margin: 30px;
    
}

.img {
    margin-bottom: 25px;
    margin-top: 25px;
    width: 100vw;
    height: auto;
}

.text {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    color: black;
    margin: 20px;
    line-height: 30px;
}

.text#websiteInfo {
    font-size: 15px;
}

.bottom {
    display: block;
    background-color: white;
    height: 30vh;
    width: 100%;
    position: relative;
    bottom: 0px;
}

.textLink {
    color: #95B46A;
}
.textLink:visited {
    color: #95B46A;
}



@media only screen and (min-width: 768px) { /* DESKTOP STYLES*/
    .pageContent {
        top: 15vh;
    }

    .bottom {
        display: none;
    }
    #title {
        font-size: 40px;
        color: #3E5622;
        position: absolute;
        left: 2vw;
        top: -3vh;
    }
    
    .img {
        width: 25vw;
        height: auto;
        position: absolute;
        z-index: 5;
        
    }
    .img#me {
        left: -40vw;
        top: 10vh;
        animation: img-in-to-right 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
    .img#meAndCaia {
        left: 100vw;
        top: 40vh;
        animation: img-in-to-left 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
    
    .decor {
        height: 40vh;
        width: 15vw;
        background-color: #95B46A;
        position: absolute;
        z-index: 4;
        
    }
    .decor#left {
        left: -9vw;
        top: 8vh;
        animation: decor-in-to-right 0.5s;
        animation-fill-mode: forwards;
    }
    .decor#right {
        left: 100vw;
        top: 33vh;
        animation: decor-in-to-left 0.5s;
        animation-fill-mode: forwards;
    }
    
    @keyframes img-in-to-right {
        from {
            opacity: 0%;
        }
        to {
            left: 7vw;
            opacity: 100%;
        }
    }
    @keyframes decor-in-to-right {
        from {
            opacity: 0%;
        }
        to {
            left: 3vw;
            opacity: 100%;
        }
    }
    @keyframes img-in-to-left {
        from {
            opacity: 0%;
        }
        to {
            left: 65vw;
            opacity: 100%;
        }
    }
    @keyframes decor-in-to-left {
        from {
            opacity: 0%;
        }
        to {
            left: 80vw;
            opacity: 100%
        }
    }
    
    .text {
        font-family: 'Manrope', sans-serif;
        font-size: 18px;
    }
    .text#intro {
        position: absolute;
        right: 10vw;
        top: 100vh;
        animation: textFadeIn1 1s ease-out 1s forwards;
    }
    .textLink, .textLink:visited {
        color: #95B46A;
    }
    .text#websiteInfo {
        position: absolute;
        left: 28vw;
        top: 100vh;
        animation: textFadeIn2 1s ease-out 1.3s forwards;
    }
    @keyframes textFadeIn1 {
        from {
            opacity: 0%;
            top: 40vh;
        }
        to {
            opacity: 100%;
            top: 5vh;
        }
    }
    @keyframes textFadeIn2 {
        from {
            opacity: 0%;
            top: 75vh;
        }
        to {
            opacity: 100%;
            top: 50vh;
        }
    }
}