.decor {
    width: 75vw;
    height: 100px;
    background-color: #95B46A;
    position: absolute;
    top: 308px;
}

#title {
    font-size: 40px;
    color: #3E5622;
    margin: 30px;
}

.pageContent {
    position: absolute;
    margin: 0px auto;
    left: 0.5%;
    top: auto;
    margin-top: 50px;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

}

.img {
    height: 300px;
    width: auto;
    z-index: 5;
}

.img#pittLogo {
    height: auto;
    width: 90vw;
    margin-top: 15px;
}

.text {
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.courseContainer {
    text-align: left;
}
.label, .content{
    font-family: 'Manrope', sans-serif;
    margin-right: 20px;
    margin-left: 20px;
}

.divider {
    height: 3px;
    width: 50vw;
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 1.5px;
    background-color: #95B46A;
}

.bottom {
    background-color: transparent;
    height: 30vh;
    width: 2px;
}

@media only screen and (min-width: 768px) { /* DESKTOP STYLES*/
    .divider {
        display: none;
    }

    .pageContent {
        position: absolute;
        margin: 0px auto;
        left: 0.5%;
        top: 15vh;
        margin-top: 50px;
        width: 99%;
    }

    .content {
        text-align: left;
    }

    #title {
        font-size: 40px;
        color: #3E5622;
        position: absolute;
        left: 2vw;
        top: -3vh;
    }

    .decor {
        width: 40vh;
        height: 10vw;
        background-color: #95B46A;
        position: absolute;
        top: 35vh;
        left: 22vw;
        z-index: 4;
        animation: float-in-from-left 0.5s ease-out forwards;
    }

    .img {
        z-index: 5;
    }
    .img#cathedral {
        height: 45vh;
        width: 15vw;
        position: absolute;
        left: 26vw;
        top: 8vh;
        opacity: 0%;
        animation: fadeIn 1.5s ease-out forwards;
    }
    .img#pittLogo {
        height: 15vh;
        width: 45vw;
        position: absolute;
        left: 45vw;
        top: 37vh;
        opacity: 0%;
        animation: fadeIn 1.5s forwards, moveUp ease-out 0.5s 1.5s forwards;
    }
    @keyframes fadeIn {
        0% {}
        33% {opacity: 0%;}
        100% {opacity: 100%;}
    }
    @keyframes moveUp {
        from { 
            top: 37vh;
            height: 15vh;
            width: 45vw;
        }
        to {
            top: 0vh;
            height: 9vh;
            width: 27vw;
        }
    }
    @keyframes float-in-from-left {
        from {
            opacity: 0%;
            left: 15vw;
        }
        to {
            opacity: 100%;
        }
    }

    .text {
        font-family: 'manrope', sans-serif;
        font-size: 18px;
        position: absolute;
        left: 45vw;
        top: 12vh;
        opacity: 0%;
        animation: fadeIn 1s 1.5s forwards;
    }

    .courseContainer {
        font-family: 'manrope', sans-serif;
        position: absolute;
        top: 33vh;
        left: 46vw;
        opacity: 0%;
        animation: fadeIn 1s 1.75s forwards;
    }
}