
#title {
    font-size: 40px;
    color: #3E5622;
    position: absolute;
    left: 2vw;
    top: -3vh;
}

.decor {
    width: 40vh;
    height: 10vw;
    background-color: #95B46A;
    position: absolute;
    top: 35vh;
    left: 2vh;
    z-index: 4;
    animation: float-in-from-left 0.5s ease-out forwards;
}

.img {
    z-index: 5;
}
.img#cathedral {
    height: 45vh;
    width: 15vw;
    position: absolute;
    left: 6vw;
    top: 8vh;
    opacity: 0%;
    animation: fadeIn 1.5s ease-out forwards;
}
.img#pittLogo {
    height: 15vh;
    width: 45vw;
    position: absolute;
    left: 25vw;
    top: 37vh;
    opacity: 0%;
    animation: fadeIn 1.5s forwards, moveUp ease-out 0.5s 1.5s forwards;
}
@keyframes fadeIn {
    0% {}
    33% {opacity: 0%;}
    100% {opacity: 100%;}
}
@keyframes moveUp {
    from { 
        top: 37vh;
        height: 15vh;
        width: 45vw;
    }
    to {
        top: 0vh;
        height: 9vh;
        width: 27vw;
    }
}
@keyframes float-in-from-left {
    from {
        opacity: 0%;
        left: -15vw;
    }
    to {
        opacity: 100%;
    }
}

.text {
    font-family: 'manrope', sans-serif;
    font-size: 18px;
    position: absolute;
    left: 25vw;
    top: 12vh;
    opacity: 0%;
    animation: fadeIn 1s 1.5s forwards;
}

.courseContainer {
    font-family: 'manrope', sans-serif;
    position: absolute;
    top: 33vh;
    left: 26vw;
    opacity: 0%;
    animation: fadeIn 1s 1.75s forwards;
}