<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Manrope:wght@200&display=swap" rel="stylesheet">        
        <link href="../static/homeStyles.css" rel="stylesheet">
        <title>Stephen McKenna</title>
    </head>
    <body>
        <div class="socials">
            <a href="https://www.linkedin.com/in/-stephenmckenna" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://www.github.com/stephenmckenna" class="fa fa-github" target="_blank"></a>
        </div>
        <div class="box" id="header">
            <div class="menuOptions">
                <div class="option">
                    About Me
                </div>
                <div class="option">
                    Education
                </div>
                <div class="option">
                    Experience
                </div>
                <div class="option">
                    Projects
                </div>
            </div>
        </div>
        <p id="name">Stephen McKenna</p>
        <p id="title">Software Engineer</p> 

        <button class="contactMeBtn" value="Contact Me!"></button>
    </body>
</html>